# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* *;
	fi;
}


# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Check django migrations WIP
function tomigrate() {
	"$(manage.py migrate --list " @a ")" | grep -v '[X]';
}

# GIT utilities

## Pull current branch with rebase
## --autostash stashes your changes and after pulling, applies the stash
function gpr() {
	git pull --rebase --autostash origin $(git rev-parse --abbrev-ref HEAD)
}

## Rebase from latest update on master
function grm() {
	CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && \
		git checkout master && \
		gpr && \
		git checkout $CURRENT_BRANCH && \
		git rebase master
}

## Push changes to remote with force (cancels if there's someone elses work)
function gpf() {
  git push --force-with-lease
}

## change into the git root folder of a project
function groot {
  cd $(git rev-parse --show-toplevel)
}

# Update YouCompleteMe
function ycm() {
	python ~/.vim/bundle/YouCompleteMe/install.py --clang-completer --tern-completer
}
