[submodule "themes/dracula"]
	path = themes/dracula
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
