[user]
	name = Daniel Correia
	email = {{ email }}
[core]
	excludesfile = /Users/danielcorreia/.gitignore
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[include]
	path = /Users/danielc/.config/delta/themes/tokyonight.gitconfig
[delta]
	navigate = true # use n and N to move between diff sections
	dark = true
	features = tokyonight-storm
[push]
	default = simple
	autoSetupRemote = true
[merge]
	tool = vscode
	conflictStyle = zdiff3
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool]
	keepBackup = false
[diff]
	tool = vscode
	noprefix = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	lg = log --pretty=format:'%C(yellow)%h%Creset %C(green dim)%s%Creset%d%Creset [%ad %Cblue%an%Creset]' --graph --date=short
	last = log --pretty=format:'%C(yellow)%h%Creset %Cblue%s%Creset%d [%ad %an]' -n 1 --graph --date=short
	logbr = log --first-parent --no-merges
	undo = reset HEAD~
